*{
    background-color: aqua;
}
h1{
    color: brown;
    text-align: center;
}
#adminbtn{
    background-color: rgb(12, 131, 89);
    border-radius: 10px;
    padding: 10px;
   font-weight: bolder;
   margin-left: 680px;
   margin-top: 50px;

}